@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-regular.eot"), 
	url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-medium.eot"), 
	url("../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-bold.eot"), 
	url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-black.eot"), 
	url("../fonts/notokr-black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-black.woff2") format("woff2"), 
	url("../fonts/notokr-black.woff") format("woff");
}

/* OpenSans */
@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../fonts/opensans-regular.eot"), 
	url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/opensans-regular.woff2") format("woff2"), 
	url("../fonts/opensans-regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../fonts/opensans-bold.eot"), 
	url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/opensans-bold.woff2") format("woff2"), 
	url("../fonts/opensans-bold.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.04em;}
html,body {height:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; appearance:none;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

/* 레이아웃 */
.wrap {background:red; overflow:hidden;}
.content {display:table; position:relative; width:100%; height:100vh; padding:0 120px; color:#fff;}
.content .txt_box {display:table-cell; width:100%; vertical-align:middle;}
.content .txt_box .main_tit {font-size:80px; font-weight:700; line-height:1.25em;}
.content .txt_box .sub_txt {position:relative; margin-top:60px; padding-top:20px; font-size:20px; line-height:1.7em;}
.content .txt_box .sub_txt:before {position:absolute; top:0; left:0; width:26px; height:6px; background:#fff; content:"";}
.content .side_menu {position:absolute; right:120px; top:45%; margin-top:-260px;}
.content .side_menu li {position:relative; padding:20px 0; text-align:right; opacity:0.8; transition:all 0.3s;}
.content .side_menu li:after {position:absolute; right:0; bottom:0; width:30px; height:1px; background:#fff; content:"";}
.content .side_menu li:last-child:after {display:none;}
.content .side_menu li:hover,
.content .side_menu li.on {opacity:1;}
.content .side_menu li a {display:block;}
.content .side_menu li small {display:block; font-size:16px; line-height:1.5em; color:#fff;}
.content .side_menu li strong {display:block; margin-top:5px; font-size:24px; line-height:36px; transition:all 0.3s; color:#fff;}
.content .side_menu li:hover strong,
.content .side_menu li.on strong {font-size:30px;}
.revomax_type {overflow:hidden; position:absolute; bottom:0; left:0; width:100%; background:rgba(0,0,0,0.9);}
.revomax_type li {float:left; width:33.33%; padding:30px 70px 30px 50px; text-align:right;}
.revomax_type li .cmt {font-size:14px; line-height:1.5em; color:#999;}
.revomax_type li strong {display:block; position:relative; padding-bottom:8px; font-family:"Open Sans"; font-size:40px; line-height:1.2em; color:#fff; letter-spacing:0;}
.revomax_type li strong:after {position:absolute; right:0; bottom:0; width:100px; height:4px; background:#ccc; content:"";}

@media (max-width:1024px) {
	
}

@media (max-width:599px) {
	.container {padding:0 15px;}
}

/* TOP 버튼 */
.move_top {visibility:hidden; position:fixed; right:30px; bottom:100px; z-index:7; transition:all 0.3s; opacity:0;}
.move_top.on {visibility:visible; bottom:110px; opacity:1;}
.move_top button {position:relative; width:30px; height:30px; border:1px solid #ca0464; background:#fff; line-height:1; text-align:center; text-indent:-9999px; transition:all 0.3s;}
.move_top button:hover {background:#ca0464;}
.move_top button:before {position:absolute; top:5px; left:50%; width:0; height:0; margin-left:-6px; border-width:6px; border-style:solid; border-color:transparent transparent #ca0464 transparent; background:none; transition:all 0.3s; content:"";}
.move_top button:hover:before {border-bottom-color:#fff;}

@media (max-width:599px) {
	.move_top {right:15px; bottom:50px;}
	.move_top.on {bottom:60px;}
}

/* 하위 브라우저 안내 */
.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#000;; font-size:14px; line-height:2em; color:#fff; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#fff;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; background:url(../img/sprite/sprite.png); background-position:-10px -160px; text-indent:-9999px;}

/*=========================================================
4. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; z-index:5; width:100%; height:110px; padding-top:50px; text-align:center;}
header img {height:49px;}

@media (max-width:1024px) {

}

@media (max-width:599px) {
	
}

@media (max-width:359px) {

}

/*=========================================================
5. 페이지 스타일
=========================================================*/



/*=========================================================
6. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInDown {-webkit-animation-name:fadeInDown; animation-name:fadeInDown;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; animation-play-state:paused;}
.animated {animation-duration:1s; animation-fill-mode:both; opacity:1 \0/IE8+9 !important;}