@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-regular.eot"), 
	url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-medium.eot"), 
	url("../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-bold.eot"), 
	url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-black.eot"), 
	url("../fonts/notokr-black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-black.woff2") format("woff2"), 
	url("../fonts/notokr-black.woff") format("woff");
}

/* OpenSans */
@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../fonts/opensans-regular.eot"), 
	url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/opensans-regular.woff2") format("woff2"), 
	url("../fonts/opensans-regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../fonts/opensans-bold.eot"), 
	url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/opensans-bold.woff2") format("woff2"), 
	url("../fonts/opensans-bold.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.04em;}
html,body {height:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; appearance:none;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

/* 레이아웃 */
.wrap {overflow:hidden; height:100%; min-height:640px; background:#000;}
/* .wrap:after {display:none\9; position:fixed; top:0; left:0; z-index:0; width:100%; height:100%; content:"";}
.wrap:after {background:#fff; transition:all 0.3s;}
.wrap.animated:after {opacity:0;}
.wrap.fadeout:after {opacity:1; z-index:15;} */
.content {display:table; visibility:hidden; position:absolute; z-index:1; width:100%; height:100%; padding:0 120px; background-position:center; background-size:cover; color:#fff; transition:all 1s; opacity:0;}
.content.on {visibility:visible; opacity:1;}
.content .txt_box {display:table-cell; width:100%; vertical-align:middle;}
.content .txt_box .txt_wrap {visibility:hidden; width:540px; transition:all 0.3s; opacity:0;}
.content.on .txt_box .txt_wrap {visibility:visible; opacity:1;}
.content .txt_box .main_tit {font-size:50px; font-weight:700; line-height:1.5em;}
.content.on .txt_box .main_tit {animation:1s both fadeInDown; animation-delay:0.3s;}
.content .txt_box .main_tit strong {display:block; font-size:1.6em; line-height:1.2em; white-space:nowrap;}
.content .txt_box .hashtag {margin-top:20px; font-size:24px; line-height:1.5em; opacity:0.75;}
.content.on .txt_box .hashtag {animation:1s both fadeInUp; animation-delay:0.7s;}
.content .txt_box .hashtag span {display:inline-block; margin-right:5px;}
.content .txt_box .sub_txt {position:relative; margin-top:60px; padding-top:20px; font-size:20px; line-height:1.7em;}
.content.on .txt_box .sub_txt {animation:1s both fadeInUp; animation-delay:0.5s;}
.content .txt_box .sub_txt:before {position:absolute; top:0; left:0; width:26px; height:6px; background:#fff; content:"";}
.content .txt_box.white .txt_wrap {margin-left:80px; background:rgba(255,255,255,0.9); color:#333; padding:30px 50px;}
.content .txt_box.white .sub_txt:before {background:#333;}
.side_menu {position:absolute; z-index:1; right:120px; top:45%; margin-top:-260px;}
.side_menu li {position:relative; padding:20px 0; text-align:right; transition:all 0.3s; opacity:0;}
.side_menu li a {display:inline-block; position:relative;}
.side_menu li a:after {position:absolute; right:0; bottom:-20px; width:30px; height:1px; background:#fff; transition:all 0.3s; opacity:0.7; content:"";}
.side_menu li.on a:after,
.side_menu li a:hover:after {width:100% !important;}
.side_menu li small {display:block; font-size:16px; line-height:1.5em; color:#fff; transition:all 0.3s; opacity:0.7;}
.side_menu li strong {display:block; margin-top:5px; font-size:24px; line-height:36px; color:#fff; transition:all 0.3s; opacity:0.7;}
.side_menu li:hover:after,
.side_menu li:hover small,
.side_menu li.on small {opacity:1;}
.side_menu li:hover strong,
.side_menu li.on strong {font-size:28px; opacity:1;}
.revomax_type {overflow:hidden; position:absolute; bottom:0; left:0; z-index:1; width:100%; background:rgba(0,0,0,0.8);}
.revomax_type li {float:left; position:relative; z-index:1; width:33.33%; text-align:right;}
.revomax_type li a {display:block; padding:30px; padding-right:70px; transition:all 0.3s;}
.revomax_type li a:hover {background:rgba(0,0,0,0.5);}
.revomax_type li:before {position:absolute; top:50%; left:50px; margin-top:-20px; background:url(../img/sprite/sprite.png); background-position-x:-10px; transition:all 0.3s; content:"";}
.revomax_type li:after {position:absolute; top:0; right:0; width:1px; height:100%; border-left:1px dashed #fff; opacity:0.2; content:"";}
.revomax_type li:hover:before {margin-left:10px;}
.revomax_type li:nth-child(1):before {left:100px; width:109px; height:40px; background-position-y:-10px;}
.revomax_type li:nth-child(2):before {width:144px; height:41px; background-position-y:-60px;}
.revomax_type li:nth-child(3):before {width:162px; height:41px; background-position-y:-110px;}
.revomax_type li:last-child:after {display:none;}
.revomax_type li .cmt {font-size:14px; line-height:1.5em; color:#999;}
.revomax_type li .cmt br {display:none;}
.revomax_type li strong {display:block; position:relative; padding-bottom:8px; font-family:"Open Sans"; font-size:40px; line-height:1.2em; color:#fff; letter-spacing:0;}
.revomax_type li strong:after {position:absolute; right:0; bottom:0; width:90px; height:4px; background:#ccc; content:"";}

@media (max-width:1366px) {
	.content .txt_box.white .txt_wrap {margin:0;}
	.revomax_type li a {padding:15px 30px;}
	.revomax_type li:before {left:30px !important; margin-top:-10px;}
}

@media (max-width:1024px) {
	.content {padding:0 30px;}
	.content .txt_box.white .txt_wrap {width:480px; margin-left:-30px; padding:15px 30px;}
	.content .txt_box .main_tit {font-size:36px;}
	.content .txt_box .hashtag {margin-top:15px; font-size:18px;}
	.content .txt_box .sub_txt {margin-top:30px; font-size:18px;}
	.side_menu {right:30px; margin-top:-215px;}
	.side_menu li {padding:15px 0;}
	.side_menu li small {font-size:14px;}
	.side_menu li strong {font-size:18px; line-height:30px;}
	.side_menu li:hover strong {font-size:18px;}
	.side_menu li.on strong {font-size:24px;}
	.revomax_type li:before {transform:scale(0.5); transform-origin:left center;}
	.revomax_type li .cmt {font-size:12px; white-space:nowrap;}
	.revomax_type li strong {font-size:24px;}
	.revomax_type li strong:after {width:55px; height:3px;}
}

@media (max-width:599px) {
	.wrap {min-height:0;}
	.content {padding:0 15px;}
	.content .txt_box {vertical-align:top; padding-top:80px;}
	.content .txt_box .txt_wrap {width:calc(100% - 80px);}
	.content .txt_box.white .txt_wrap {width:calc(100% - 65px); margin-left:-15px; padding:15px;}
	.content .txt_box .main_tit {font-size:22px;}
	.content .txt_box .hashtag {font-size:14px;}
	.content .txt_box .sub_txt {margin-top:15px; font-size:12px;}
	.content .txt_box .sub_txt:before {height:3px;}
	.side_menu {top:30px; right:15px; margin:0;}
	.side_menu li {padding:5px 0;}
	.side_menu li a:after {bottom:-5px;}
	.side_menu li small {font-size:10px;}
	.side_menu li strong {margin:0; font-size:12px; line-height:1.5em;}
	.side_menu li:hover strong {font-size:12px;}
	.side_menu li.on strong {font-size:14px;}
	.revomax_type li {float:none; width:100%;}
	.revomax_type li:before {left:15px !important; margin-top:-21px;}
	.revomax_type li:after {top:auto; bottom:0; width:100%; height:1px; border:0; border-bottom:1px dashed #fff;}
	.revomax_type li a {padding:5px 15px;}
	.revomax_type li .cmt {display:inline-block; margin-right:15px; vertical-align:middle;}
	.revomax_type li .cmt br {display:block;}
	.revomax_type li strong {display:inline-block; margin-top:-7px; padding-bottom:5px; font-size:18px; vertical-align:middle;}
	.revomax_type li strong:after {width:40px; height:2px;}
}

@media (max-width:320px) {
	.content .txt_box.white .txt_wrap {padding:5px 15px;}
	.content .txt_box .main_tit {font-size:18px;}
	.content .txt_box .hashtag, 
	.content .txt_box .sub_txt {font-size:10px;}
}

/* 하위 브라우저 안내 */
.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#fff;; font-size:14px; line-height:2em; color:#333; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#333;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; background:url(../img/sprite/sprite.png); background-position:-10px -160px; text-indent:-9999px;}

/*=========================================================
4. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; z-index:5; width:100%; height:110px; padding-top:50px; text-align:center;}
header img {height:49px;}

@media (max-width:1024px) {
	header {height:80px; padding-top:30px;}
}

@media (max-width:599px) {
	header {height:40px; padding-top:10px;}
	header img {height:24px;}
}

@media (max-width:359px) {

}

/*=========================================================
5. 페이지 스타일
=========================================================*/



/*=========================================================
6. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInDown {-webkit-animation-name:fadeInDown; animation-name:fadeInDown;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; animation-play-state:paused;}
.animated {animation-duration:1s; animation-fill-mode:both;}

@media (min-width:0\0){
	.animated {opacity:1 !important;}
}